<h1>Welcome to my Blog site</h1>
<br>
<br>
<p> About me.
  Originally from New Jersey, I have called Tampa Florida my home for the last 17 years.
  After leaving the cold in the north east, I enjoy being close to the beaches and being able to get my feet in the sand every month of the year.

   </p>

<h3><p></p><%= link_to "Return to Index", controller:posts_path%></h3>
